build/
cmake-build*/
Debug/
Release/
bin/
cmake-build-release/
.vscode/settings.json
nbproject/
.vscode/
.idea
cmake-build-debug
cmake-build-release/
.cache
compile_commands.json
wise_bd
*.user
lintlogs/
.DS_Store
